
@model Assignment3.Models.Teacher

@Styles.Render("~/Content/Site.css")

@{
    ViewBag.Title = "Show";
}




<div class="tab">
    <a class="tab1" href="/teacher/list">Back To Teacher List</a>
    <a class="tab2" href="/teacher/DeleteConfirm/@Model.TeacherId">Delete Teacher</a>
    <a class="tab2" href="/teacher/Update/@Model.TeacherId">Update Teacher</a>

</div>

<div class="profile">
    <h2>Teacher Profile</h2>
    <div><img src="/content/images/profile.jpg" alt="Teacher's Profile Picture" /></div>
    <h3>@Model.TeacherFname @Model.TeacherLname   </h3>

    <h4> Employee Number : @Model.TeacherEmployeeNo</h4>
    <h4> Hire Date : @Model.HireDate</h4>
    <h4> Salary : @Model.Salary</h4>

</div>


